# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.db
*.db
*.ipch
*.ipch
*.sln
*.sln
*.vcxproj
*.filters
*.user
*.lastbuildstate
*.tlog
*.idb
*.log
*.pdb
*.ilk
*.suo
*.opendb
